#container {
    width:100%;
    text-align:center;
}
#container > div {
    width: calc(100% / 3.1);  
    height: calc(100% / 3.1);
    display: inline-block;
    vertical-align: center;   
    border:1px solid red;
    text-align:center;
    margin:0.2%;    
    padding:1px;
    background-color: #FF0000; 
}
 
#sortable { 
    list-style-type: none; 
    margin: 0; 
    padding: 0; 
    width: 100%; 
    height: 100%; 
}
 
#sortable > li { 
    display: inline-block;
    margin: 3px 3px 3px 0; 
    padding: 1px; 
    float: left; 
    width: calc(100% / 3.1); 
    height: calc(100% / 3.1); 
    font-size: 4em; 
    text-align: center; 
    background-color: #FF0000; 
}

#text {
    text-align: center;
    color: white;
}
